html, body {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	background-color: rgb(37, 37, 37);
}
body {
	display: flex;
}

canvas {
    display: block
}

button {
    cursor: pointer;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important
}
button:focus {
    outline: none
}

.modal-3d {
	width: 640px;
	height: 620px;
	margin: auto;
	position: relative;
	background-color: white;
}
#root {
	height: 100%;
	width: 100%;
}

.change-model-wrapper {
	width: 140px;
	float: left;
}
.change-model {
	width: 120px;
	margin-bottom: 10px;
	border: none;
	padding: 5px 0;
	border: 1px solid transparent;
}
.change-model.active {
	border: 1px solid gray;
}

.products-cards-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 120px;
}

// filter-wrapper
.filter-wrapper .filter-model-container {
	position: relative;
}
.filter-wrapper .filter-model-container .count {
	position: absolute;
	right: 7px;
	background-color: #dadada;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	z-index: 50;
	border-radius: 50%;
}
.filter-wrapper select {
	width: calc(100% - 20px);
	line-height: 40px;
	height: 40px;
	margin: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.close-modal {
		width: 50px;
		height: 50px;
		line-height: 50px;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 0px;
		background-color: transparent;
		box-shadow: none;
		color: #fff;
		font-size: 0;
		text-align: center;
		cursor: pointer;
		border: 1px solid white;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 36%;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.715 22.3395L13.376 12.0004L23.7149 1.66143C24.0949 1.28151 24.0949 0.665432 23.7149 0.285464C23.335 -0.0945037 22.7189 -0.0945037 22.339 0.285464L12 10.6244L1.66094 0.285464C1.28102 -0.0945037 0.664944 -0.0945037 0.284976 0.285464C-0.094992 0.665385 -0.094992 1.28146 0.284976 1.66143L10.624 12.0004L0.284976 22.3395C-0.094992 22.7194 -0.094992 23.3355 0.284976 23.7154C0.664897 24.0953 1.28097 24.0954 1.66094 23.7154L12 13.3764L22.3391 23.7154C22.719 24.0953 23.3351 24.0954 23.715 23.7154C24.095 23.3355 24.095 22.7194 23.715 22.3395Z' fill='white'/%3e%3c/svg%3e ");
}

.canvas-wrapper {
	width: 500px;
	height: 500px;
}

.model-wrapper {
	display: flex;
	flex-direction: column;
}

#meshInterface {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
	width: 500px;
	height: 500px;
	display: none;
}

#draggable {
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	position: absolute;
}

#faceFilterCanvas {
	position: absolute !important;
	right: 0;
	top: 0;
	left: unset !important;
}

// products-cards-wrapper
.products-cards-wrapper {
	height: 100%;
	max-height: 565px;
	direction: rtl;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 10px;
	z-index: 50;
	scroll-behavior: smooth
}
.products-cards-wrapper::-webkit-scrollbar {
	background-color: #fff;
	height: 4px;
	width: 4px
}
.products-cards-wrapper::-webkit-scrollbar-track {
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5
}
.products-cards-wrapper::-webkit-scrollbar-thumb {
	background-color: #000
}
.products-cards-wrapper::-webkit-scrollbar-button {
	display: none
}

// product-info-wrapper
.product-info-wrapper {
	width: 100%;
	height: 80px;
	background-color:white;
}
.product-info-wrapper .product-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}
.product-info-wrapper .product-info-left, 
.product-info-wrapper .product-info-right {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.product-info-wrapper .product-title {
	font-size: 18px;
	margin-bottom: 20px;
}
.product-info-wrapper  .to-page {
	text-align: center;
	padding: 5px;
}
.product-info-wrapper .add-to-cart {
	background: #000;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-family: inherit;
	font-size: 11px;
	font-weight: 500;
	height: 50px;
	letter-spacing: 1.4px;
	line-height: 50px;
	padding: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 180px
}

.product-info-wrapper .add-to-cart:before {
	background: #fff;
	content: "";
	display: block;
	height: 48px;
	position: absolute;
	right: 1px;
	top: 1px;
	-webkit-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
	width: 0;
	z-index: 1
}

.product-info-wrapper .add-to-cart:hover:before {
	left: 1px;
	right: auto;
	width: calc(100% - 2px)
}

.product-info-wrapper .add-to-cart:hover {
	background: #000;
	color: #000
}

.product-info-wrapper .add-to-cart span {
	position: relative;
	z-index: 2
}

// interface-wrapper
.interface-wrapper {
	display: flex;
	bottom: 0px;
	right: 0px;
	z-index: 500;
}

.interface-wrapper button {
	outline: none;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 0;
	width: 50px;
	height: 50px;
	line-height: 48px;
	border-radius: 0;
	z-index: 500;
	box-shadow: none;
	cursor: pointer;
	text-align: center;
}

.interface-wrapper .no-model {
	display: none;
}

.interface-wrapper .switch-ears {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 512 512%27%3E%3Cg fill=%27%23fff%27%3E%3Cpath d=%27M31.5 206.2s28.9 11.6 41.7 27.4c12.8 15.8 33.1 56 33.1 65s-9 12.4-15 5.6c-6-6.8-11.2-32-25.8-51.4-12.5-16.6-12.2-16.9-34-24.1v-22.5zm449 0s-28.9 11.6-41.7 27.4c-12.8 15.8-33.1 56-33.1 65s9 12.4 15 5.6c6-6.8 11.2-32 25.8-51.4 12.5-16.6 12.2-16.9 34-24.1v-22.5z%27/%3E%3Cpath d=%27M507.7 190.8c-35.3-18.7-99.4-26.5-143.2-21.7-45.6 5-75.4 27.2-75.4 27.2-3.1 1.5-7.3.8-10.4 0-3.8-1.1-7.8-1.7-11.8-1.7h-21.8c-4 0-7.9.6-11.8 1.7-3.2.9-7.3 1.5-10.4 0 0 0-29.8-22.1-75.4-27.2-43.7-4.8-107.8 3-143.2 21.7-2.7 1.4-4.3 4.1-4.3 7.2v8.7c0 2.9 1.6 5.6 4.1 7 5.6 3.2 15.1 10.1 17.6 21.7 3.7 16.8 10.4 60.3 28.8 79.8 18.4 19.4 46.9 35.2 99.2 26.8 52.3-8.4 76.8-64.4 76.8-64.4s11.4-23.1 12.7-33.9c1.3-10.7-6.4-17.4-2.7-20.5 3.3-2.7 5.8-10.1 19.4-10.3 13.6.2 16.1 7.7 19.4 10.3 3.7 3-4 9.7-2.7 20.5 1.3 10.7 12.7 33.9 12.7 33.9s24.5 56 76.8 64.4c52.3 8.4 80.8-7.4 99.2-26.8 18.4-19.4 25.1-63 28.8-79.8 2.6-11.6 12.1-18.6 17.6-21.7 2.5-1.4 4.1-4.1 4.1-7V198c.2-3.1-1.5-5.8-4.1-7.2zm-304.4 98.7c-24.8 31.8-40.8 43.8-88 42.5-52.6-1.5-73.4-44.7-77-89.8-3.5-45.1 19.9-52.6 19.9-52.6 69.9-25.2 128.3.4 149.5 13.7 21.3 13.3 20.4 54.4-4.4 86.2zm270.3-47.3c-3.5 45.1-24.3 88.3-77 89.8-47.2 1.4-63.3-10.6-88-42.5-24.8-31.8-25.7-73-4.4-86.2 21.2-13.3 79.6-38.9 149.5-13.7 0 0 23.5 7.5 19.9 52.6z%27/%3E%3C/g%3E%3C/svg%3E");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 70%;
}
.interface-wrapper .switch-ears.active {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 512 512%27 style=%27enable-background:new 0 0 512 512%27 xml:space=%27preserve%27%3E%3Cpath fill=%27%23FFF%27 class=%27st0%27 d=%27M507.7 190.8c-35.3-18.7-99.4-26.5-143.2-21.7-45.6 5-75.4 27.2-75.4 27.2-3.1 1.5-7.3.8-10.4 0-3.8-1.1-7.8-1.7-11.8-1.7h-21.8c-4 0-7.9.6-11.8 1.7-3.2.9-7.3 1.5-10.4 0 0 0-29.8-22.1-75.4-27.2-43.7-4.8-107.8 3-143.2 21.7-2.7 1.4-4.3 4.1-4.3 7.2v8.7c0 2.9 1.6 5.6 4.1 7 5.6 3.2 15.1 10.1 17.6 21.7 3.7 16.8 10.4 60.3 28.8 79.8 18.4 19.4 46.9 35.2 99.2 26.8 52.3-8.4 76.8-64.4 76.8-64.4s11.4-23.1 12.7-33.9c1.3-10.7-6.4-17.4-2.7-20.5 3.3-2.7 5.8-10.1 19.4-10.3 13.6.2 16.1 7.7 19.4 10.3 3.7 3-4 9.7-2.7 20.5 1.3 10.7 12.7 33.9 12.7 33.9s24.5 56 76.8 64.4 80.8-7.4 99.2-26.8c18.4-19.4 25.1-63 28.8-79.8 2.6-11.6 12.1-18.6 17.6-21.7 2.5-1.4 4.1-4.1 4.1-7V198c.2-3.1-1.5-5.8-4.1-7.2zm-304.4 98.7c-24.8 31.8-40.8 43.8-88 42.5-52.6-1.5-73.4-44.7-77-89.8-3.5-45.1 19.9-52.6 19.9-52.6 69.9-25.2 128.3.4 149.5 13.7 21.3 13.3 20.4 54.4-4.4 86.2zm270.3-47.3c-3.5 45.1-24.3 88.3-77 89.8-47.2 1.4-63.3-10.6-88-42.5-24.8-31.8-25.7-73-4.4-86.2 21.2-13.3 79.6-38.9 149.5-13.7 0 0 23.5 7.5 19.9 52.6z%27/%3E%3C/svg%3E")
}

.interface-wrapper .next-model, 
.interface-wrapper .prev-model {
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 40%;
}
.interface-wrapper .next-model i:before,
.interface-wrapper .prev-model i:before {
	color: #fff;
	font-size: 16px
}

i.flaticons-accept,
i.flaticons-next,
i.flaticons-options,
i.flaticons-photo,
i.flaticons-prev,
i.flaticons-reset {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 20px;
	margin: auto;
	width: 20px
}
i.flaticons-next, 
i.flaticons-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2717%27 height=%2732%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M16.643 16.638a.9.9 0 0 0-.007-1.274L1.541.268A.883.883 0 0 0 .904 0a.911.911 0 0 0-.637.268.903.903 0 0 0 0 1.281l14.451 14.452L.267 30.453a.903.903 0 0 0 0 1.28.902.902 0 0 0 1.28 0l15.096-15.095Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}
i.flaticons-prev {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
i.flaticons-photo {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2732%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M.942 23.94h30.117c.52 0 .942-.422.942-.942V6.362a.941.941 0 0 0-.942-.941h-8.668V1.772a.941.941 0 0 0-.94-.94h-10.9a.941.941 0 1 0 0 1.881h9.958v3.649c0 .52.421.94.941.94h8.668v14.755H1.883V7.303h8.668a.941.941 0 1 0 0-1.882H.94a.941.941 0 0 0-.94.94v16.637c0 .52.42.941.94.941ZM16 19.174a5.197 5.197 0 0 0 5.191-5.19 5.197 5.197 0 0 0-5.19-5.192 5.197 5.197 0 0 0-5.192 5.191A5.197 5.197 0 0 0 16 19.175Zm0-8.876a3.69 3.69 0 0 1 3.686 3.685A3.69 3.69 0 0 1 16 17.67a3.69 3.69 0 0 1-3.685-3.685A3.69 3.69 0 0 1 16 10.3Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}
i.flaticons-reset {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M23.715 22.34 13.376 12l10.34-10.339A.973.973 0 0 0 22.338.285L12 10.625 1.661.284A.973.973 0 1 0 .285 1.661l10.34 10.34L.284 22.34a.973.973 0 1 0 1.376 1.375l10.34-10.339 10.338 10.34a.973.973 0 0 0 1.376-1.377Z%27 fill=%27%23FF5252%27/%3E%3C/svg%3E")
}
i.flaticons-accept {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2718%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M23.649.588a1.2 1.2 0 0 0-1.698 0L7.575 14.965 2.049 9.438A1.2 1.2 0 0 0 .35 11.135l6.375 6.375a1.2 1.2 0 0 0 1.697 0L23.65 2.285a1.2 1.2 0 0 0 0-1.697Z%27 fill=%27%23ADDE21%27/%3E%3C/svg%3E")
}
i.flaticons-options {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2735%27 height=%2735%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m34.352 17.5-4.273 4.968a.347.347 0 0 0 0 .44.242.242 0 0 0 .379 0l4.463-5.189a.347.347 0 0 0 0-.44l-4.463-5.187a.252.252 0 0 0-.189-.092.245.245 0 0 0-.188.092.347.347 0 0 0 0 .44l4.271 4.968ZM.648 17.5l4.273-4.968a.347.347 0 0 0 0-.44.242.242 0 0 0-.379 0L.08 17.28a.347.347 0 0 0 0 .44l4.463 5.187c.052.06.121.092.189.092.067 0 .137-.03.188-.092a.347.347 0 0 0 0-.44L.648 17.5ZM17.5 34.352l-4.968-4.273a.347.347 0 0 0-.44 0 .242.242 0 0 0 0 .379l5.189 4.463a.347.347 0 0 0 .44 0l5.187-4.463a.252.252 0 0 0 .092-.189.245.245 0 0 0-.092-.188.347.347 0 0 0-.44 0L17.5 34.352ZM17.5.648l4.968 4.273a.347.347 0 0 0 .44 0 .242.242 0 0 0 0-.379L17.72.08a.347.347 0 0 0-.44 0l-5.187 4.463a.252.252 0 0 0-.092.189c0 .067.03.137.092.188a.347.347 0 0 0 .44 0L17.5.648Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

.viewer-wrapper {
	position: relative;
	display: flex;
	height: 100%;
	// overflow: hidden;
}